.font-s{
	font-size: 11px;
}
.icon-img{
	height: 40px;
	width: 40px;
	border-radius: 50px;
}
.h-size{
	width: 50%;
}
@media only screen and (max-width: 600px) {
  .hidden{clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;}
}